


<!-- 侧边栏 -->
<div class="side ">



    <section>
        <div class="page-header">
            {#                    <h3>侧边栏</h3>#}
        </div>
    </section>




    <div class="sources">
        <div id="sources">
            <div class="sources">
                <div class="sources row">





                    <div class="span3">

                      <h4> 扫码加入运维圈</h4>
{#                        <p> <font size="3" color="#FF0000">5501770161</font>  </p>#}

                        <img src="/media/home_page/qq.png" style="width:50%">
                        <br/>
                        <br/>






                        <!--标签-->
                        <div class="cloud bg-color animation-div">
                            <h4 class="index-title"><i class="el-tags"></i>标签云
                                <small>Tags Clouds</small>
                            </h4>
                            <ul id="3dcloud">
                                {% for tag in tag_all %}


                                    <li><a href="{% url "blog:tag" %}{{ tag }}" title="标签：{{ tag }} ">{{ tag }}</a></li>


                                {% endfor %}
                            </ul>
                        </div>




                    </div>


                    <!--友情链接-->
                    {% include "blog/links.html" %}



                </div>
            </div>

        </div>
    </div>

</div>

