{% extends "base.html" %}


{% block title %}
    <title>博客归档</title>
{% endblock %}

{% block css %}
     <link href="/static/css/archives.css" rel="stylesheet">
{% endblock %}




{% block content %}
    <section class="mysection main" style="animation: fuxiasuo 0.8s;">
        <ul class="timeline">



        {% for article in article_list %}
            {% if  forloop.first %}
           <li><h4> {{ article.publish.month }}月发表</h4></li>
                <hr/>
            {% endif %}


            <li> {{ article.publish.month}}月{{ article.publish.day }}日  <a href="{% url "blog:detail" pk=article.id%}">   <strong> {{ article.title }} </strong>

           </a>
            </li>
            <br/>

        {% endfor %}








    </section>
{% endblock %}



{##}
{##}
{##}
{#<div class="uk-container">#}
{##}
{#<ul>#}
{#     {% for article in article_list %}#}
{##}
{#        <li>{{ article.publish.year}}年#}
{##}
{#        {% regroup article_list by article.publish.month as posts_by_month %}#}
{#        <ul>#}
{#            {% for month in posts_by_month %}#}
{#                <li id="{{ year.grouper }}{{ month.grouper|stringformat:'02d' }}">{{ month.grouper }}月#}
{#                    <ul>#}
{#                        {% for post in month.list %}#}
{#                            <li>{{ article.publish.day}}日 <a href="{{ post.get_absolute_url }}" class="uk-link-reset uk-button-text">{{ post.title }}</a> </li>#}
{#                        {% endfor %}#}
{#                    </ul>#}
{#                </li>#}
{#            {% endfor %}#}
{#        </ul>#}
{#        </li>#}
{#    {% endfor %}#}
{#</ul>#}
{#</div>#}
{##}
{##}
{##}
{#{% endblock %}#}