<div class="container-fluid">
    <!--导航开始-->
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <!--navbar-inverse 黑色背景导航栏,navbar-fixed-top 导航栏固定到顶部 -->
        <div class="container">
            <!-- 放入logo-->
           <!--  <a href="http://attacker.club" class="navbar-brand"><strong>Attacker.club</strong></a> -->


            <!-- 登陆&注册栏
    <div class="navbar-right  hidden-xs">
        <ul class="nav navbar-nav">
            <a class="login btn btn-normal btn-primary" href="http://www.attacker.club/?/account/login/">登录</a>
            <a class="register btn btn-normal btn-success" href="http://www.attacker.club/?/account/register/">注册</a>
    </ul>
</div>-->

{#            <div class="nav navbar-nav  navbar-right  hidden-xs">#}
{#                <ul class="nav navbar-nav">#}
{#                    <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> 登录</a></li>#}
{#                    <li><a href="#"><span class="glyphicon glyphicon-user"></span> 注册</a></li>#}
{##}
{#                </ul>#}
{#            </div>#}


            <!--折叠 响应式导航栏 -->
            <div class="navbar-header navbar-left">
                <button class="navbar-toggle" data-toggle="collapse" data-target="#responsive-navbar">
                    <span class="icon-bar">  </span>
                    <span class="icon-bar">  </span>
                    <span class="icon-bar">  </span>
                </button>
            </div>


            <div class="collapse navbar-collapse" id="responsive-navbar">

                <!--菜单栏 -->
                <ul class="nav navbar-nav">

                    <li class="ative"><a href="/"> 主页 </a></li>



                    <li><a href="{% url "blog:category"%}3"> Python </a> </li>

                    <li><a href="{% url "blog:category"%}1">前端设计 </a> </li>

                    <li><a href="{% url "blog:category"%}2"> Web开发 </a> </li>

                    <li><a href="{% url "blog:category"%}4"> 安全攻防 </a></li>

{#                    <li><a href="{% url "blog:category"%}4"> 数据库 </a> </li>#}

                    <li><a href="{% url "blog:category"%}15"> 数据应用 </a> </li>

{#                    <li><a href="#"> 智能家居 </a> </li>#}
{#                    <li><a href="#"> 博彩娱乐 </a> </li>#}

                    <li><a href="{% url "blog:archive" %}"> 时间归档 </a></li>

                </ul>


                <!-- 添加搜索表单 -->
                <form action="{% url 'blog:search' %}"  method="get"  class="navbar-form  pull-right  ">

                    <input type="search"  name='key' placeholder="搜索 ..." class="form-control ">

                    <button type="submit" >
                        <span class="glyphicon glyphicon-search "></span>

                        <!-- form-control 可以额外添加样式
                        glyphicon 小图标;button 按钮

                        https://getbootstrap.com/docs/3.3/components/-->
                    </button>
                </form>



            </div>
        </div>
    </nav>
    <!--导航结束-->
</div>
