{% extends 'base.html' %}

{% block content %}


    <!-- 主体 -->
    <div class=" span8 l_box f_l ">


        <section>
            <div class="page-header">
                {#                    <h3>文章</h3>#}
            </div>
        </section>

        {% if error_msg %}
            <p>{{ error_msg }}</p>
        {% endif %}



        <!--列表开始-->
        <ul>
            {% for article in article_list %}
                <li>


                    <div class="article well clearfix ">
                        {#                        <section class="visible-md visible-lg">#}
                        <section class="new">
                            <div class="title-article">
                                <h4 class="blue-text text-center"><a href="{% url "blog:detail" pk=article.id %}"
                                                                     title="{{ article.title }}">{{ article.title }}</a>
                                </h4>

                                <div class="content-article text-center">
                                    <div class="alert alert-zan">     {{ article.digest }} ...</div>
                                </div>


                                <ul>


                                    <li class="glyphicon glyphicon-user"><i
                                            class="el-user"></i> {{ article.author.upper }} &nbsp
                                    </li>

                                    <li class="glyphicon glyphicon-time"><a
                                            href="/archive/{{ article.publish.year }}/{{ article.publish.month }}"
                                            title="发表于: {{ article.publish }}">
                                        <i class="el-time"></i>{{ article.publish.year }}年{{ article.publish.month }}月&nbsp</a>
                                    </li>


                                    {#                                    <li class="glyphicon glyphicon-pencil"> <a href="#" title="已有 {{ article.comment_set.all }} 条评论">#}
                                    {#                                        <i class="el-comment"> {{ article.comment }}条评论&nbsp</i></a></li>#}

                                    {#                                <li class="glyphicon glyphicon-eye-open"> <a title="已有 {{ article.view }} 次浏览">#}
                                    {#                                    <i class="el-eye-open"></i>{{ article.view }}</a></li>#}


                                    {#                                    {% for category in category_list %}#}
                                    {#                                        {{ category }}#}

                                    <li class="glyphicon glyphicon-th-list"><a
                                            href="{% url "blog:category" article.category.pk %} " title="分类"><i
                                            class="el-th-list"></i>{{ article.category }}</a></li>

                                    {#                                    {% endfor %}#}

                                </ul>
                            </div>

                        </section>

                    </div>

                </li>
            {% endfor %}



            {% if page %}
                <!--分页 -->
                <li>
                    <nav aria-label="Page navigation">
                        <ul class="pagination">

                            {#                             <li role="presentation" class="active"><a href="{% url "blog:index" %}">Home</a></li>#}


                            {% if currentPage.has_previous %}
                                <li>
                                    <a href="{% url "blog:index" %}?page={{ currentPage.previous_page_number }} "
                                       aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>
                            {% endif %}

                            {% if currentPage.number > 2 %}
                                <li>
                                    <a href="{% url "blog:index" %}?page=1" aria-label="Home">
                                        <span aria-hidden="true">1</span>
                                    </a>
                                </li>
                            {% endif %}

                            {#                          {% if currentPage.number > 3 %}#}
                            {#                                <li>#}
                            {#                                    <a href="{% url "blog:index" %}?page={{ page_num }}" aria-label="Home">#}
                            {#                                        <span aria-hidden="true">1</span>#}
                            {#                                    </a>#}
                            {#                                </li>#}
                            {#                            {% endif %}#}



                            {% for page_line  in  pageRange %}
                                <li><a href="{% url "blog:index" %}?page={{ page_line }} ">{{ page_line }} </a></li>
                            {% endfor %}

                            {#                                                        <li>...</li>#}



                            {% if currentPage.has_next %}


                                {% if page_num > 6 and currentRange < page_num %}
                                    <li>
                                        <a href="{% url "blog:index" %}?page={{ page_num }}" aria-label="End">
                                            <span aria-hidden="true">{{ page_num }}</span>
                                        </a>
                                    </li>
                                {% endif %}


                                <li>
                                    <a href="{% url "blog:index" %}?page={{ currentPage.next_page_number }}"
                                       aria-label="Next">
                                        <span aria-hidden="true"> &raquo;</span>
                                    </a>
                                </li>
                            {% else %}
                                <li>
                                    <a href="{% url "blog:index" %}?page={{ page_num }} " aria-label="Next">
                                        <span aria-hidden="true">末尾</span>
                                    </a>
                                </li>
                            {% endif %}


                        </ul>


                    </nav>


                </li>
            {% endif %}


        </ul>
        <!--列表结束-->


    </div>

    {##}
    {#    {% for page in page.object_list %}#}
    {#        {{ forloop.counter }}#}
    {#    {% endfor %}#}
    {##}
    {#    {{ page_first }} {{ page_first.object_list }}#}
    {#    {{ page_first.count }}#}
    {#     {% for i in pageRange %}#}
    {#         {% if current_num == i %}#}
    {#          <li class="active"><a href="?page={{ i }}">{{ i }}</a></li>#}
    {##}
    {#         {% else %}#}
    {#          <li><a href="?page={{ i }}">{{ i }}</a></li>#}
    {#         {% endif %}#}
    {#    {% endfor %}#}




    <!--=========右侧开始==========-->
    {% include "right.html" %}
    <!--=========END右侧==========-->

{% endblock %}
