<!--友情链接-->
<div class="side-link animation-div">
    <h4 class="index-title"><i class="el-paper-clip"></i>友情链接
        <small>Friend Links</small>
        <a href="mailto:admin@attacker.club?subject=博客友链互换&body=博客名称: xxx   博客地址: xxx  博客描述: xxx"><i class="el el-plus"></i>申请</a></h4>
    <ul>

        <li><a href="https://www.waitalone.cn/" target="_blank" title="信息安全">独自等待</a></li>
        <li><a href="http://www.cnblogs.com/richardzgt" target="_blank"  title="运维技术">高涛博客园</a></li>
        <li><a href="https://looaon.com" target="_blank" title="技术,生活">渗透-冬哥</a></li>
        <li><a href="https://blog.nbhao.org/" target="_blank" title="运维技术">章郎虫博客</a></li>
        <li><a href="https://tool.lu" target="_blank" title="在线工具,开发人员工具,代码格式化、压缩、加密、解密,下载链接转换,sql工具,正则测试工具...">在线工具 - 程序员的工具箱</a></li>



</div>