<!--友情链接-->
<div class="side-link animation-div">
    <h4 class="index-title"><i class="el-paper-clip"></i>友情链接
        <small>Friend Links</small>
        <a href="mailto:admin@attacker.club?subject=博客友链互换&body=博客名称: xxx   博客地址: xxx  博客描述: xxx"><i class="el el-plus"></i>申请</a></h4>
    <ul>

        <li><a href="https://www.waitalone.cn/" target="_blank" title="信息安全">独自等待</a></li>
        <li><a href="http://www.cnblogs.com/richardzgt" target="_blank"  title="运维技术">高涛博客园</a></li>
        <li><a href="https://looaon.com" target="_blank" title="技术,生活">渗透-冬哥</a></li>


</div>