{% extends 'base.html' %}


{% block content %}
<!-- 主体 -->

<div class="row">

        <!-- 左侧目录栏 -->
        <div class="col-md-3">
          <div class="navbar-sider list-group-item">
            目&nbsp;录
            <hr />

                            <a href="/course/django/2" class="list-group-item active"><b>Django教程</b></a>
                            
                            <a style="margin-left: 2em" href="/course/django/84"
                               class="list-group-item"><strong>Django简介</strong></a>
                            
                            <a style="margin-left: 2em" href="/course/django/85"
                               class="list-group-item"><strong>Django环境安装</strong></a>

                            <a style="margin-left: 2em" href="/course/django/86"
                               class="list-group-item"><strong>第一个Django应用</strong></a>
                            
                            <a style="margin-left: 4em" href="/course/django/87"
                               class="list-group-item">Part 1：请求与响应</a>
 
                            
                            <a style="margin-left: 4em" href="/course/django/88"
                               class="list-group-item">Part 2：模型与管理后台</a>
                            
                            <a style="margin-left: 2em" href="/course/django/94"
                               class="list-group-item"><strong>第一章：模型层model layer</strong></a>
             
                            <a style="margin-left: 4em" href="/course/django/95"
                               class="list-group-item">模型和字段</a>
                   
                            <a style="margin-left: 2em" href="/course/django/133"
                               class="list-group-item"><strong>第二章：视图层view layer</strong></a>
    
                            <a style="margin-left: 4em" href="/course/django/152"
                               class="list-group-item">使用表单</a>
                
                            <a style="margin-left: 2em" href="/course/django/102"
                               class="list-group-item"><strong>实战一：用户登录与注册系统</strong></a>
                            
                            <a style="margin-left: 4em" href="/course/django/103"
                               class="list-group-item">1. 搭建项目环境</a>

                            <a style="margin-left: 2em" href="/course/django/116"
                               class="list-group-item"><strong>实战二：CMDB之资产管理系统</strong></a>

                            <a style="margin-left: 4em" href="/course/django/117"
                               class="list-group-item">1.项目需求分析</a>

                            <a style="margin-left: 4em" href="/course/django/118"
                               class="list-group-item">2.模型设计</a>

              <li>
                  <ul>
                      {% for  tutorial in tutorials_list %}
                                <li><a href="#">{{ tutorial.name }}</a></li>
                            {% endfor %}
                  </ul>
                  <ul>
                      {% for  article in articles_list %}

                       <li><a href="#">>{{ article.title }}</a></li>
                       {% endfor %}

                  </ul>

              </li>
                            
                        
                
                        
                
            
          </div>
        </div>
        <!-- 左侧目录栏 结束 -->

        <!-- 右侧正文栏 -->
        <div class="col-md-9">
            <!-- 教程正文主体部分 -->
            <div class="row">
                <h1>Django教程</h1>
                <p>阅读:&nbsp;67858</p>
                <hr/>



<hr />
<h2 id="win710-python36-pip-pycharm-django111">教程环境：Win7/10 + Python3.6 + pip + Pycharm + Django1.11</h2>
<hr />
<p>Web开发是Python语言应用领域的重要部分，也是工作岗位最多的领域。如果你对基于Python的Web开发有兴趣，正打算开始学习使用Python做Web开发，或者已经是一个Web开发者有工作需要，要做自动化运维、数据的图形化展示等，那么学习一门基于Python的Web开发框架是必修课。</p>
<p>Python作为当前最火爆最热门，也是最主要的Web开发语言，在其二十多年的历史中出现了数十种Web框架，比如Django、Tornado、Flask、Twisted、Bottle和Web.py等，它们有的历史悠久，有的发展迅速，还有的已经停止维护。</p>
<p><strong>Django：</strong>发布于2003年，是当前Python世界里最负盛名且最成熟的Web框架，最初被用来制作在线新闻的Web站点。Django的各模块之间结合得比较紧密，所以在功能强大的同时又是一个相对封闭的系统（依然是可以自定义的），但是其健全的在线文档及开发社区，使开发者在遇到问题时能找到解决办法。</p>
<p><strong>Tornado：</strong>一个强大的、支持协程、高效并发且可扩展的Web服务器，发布于2009年9月，应用于FriendFeed、Facebook等社交网站。它的强项在于可以利用异步协程机制实现高并发的服务。</p>
<p><strong>Flask：</strong>Python Web框架家族里比较年轻的一个，发布于2010年，它吸收了其他框架的优点并且把自己的主要领域定义在了微小项目上，以短小精干，简洁明了著称。</p>
<p><strong>Twisted：</strong>一个有着十多年历史的开源事件驱动框架。它不像前三种着眼于Web应用开发，而是适用从传输层到自定义应用协议的所有类型的网络程序的开发，并能在不同的操作系统上提供很高的运行效率。但是，目前对Python3的支持有限，建议使用Python2.7。</p>
<hr />
            </div>
            <!-- 教程正文主体部分结束 -->
      </div></div>




{% endblock %}